*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

.teste{ 
    display: flex;
    
    text-align: right;
}

.cabecalho-menu-item-e{
    
    
}

.cacabecalho-menu-item-d{
    
}

.icon{
    
}

